.button-close {
    position: absolute;
    width: 30px;
    height: 30px;

    background-color: var(--white-color);
    border: 1px solid var(--border-close);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}