.features {
  // padding-top: 94px;
  // padding-bottom: 94px;

 
  
}

.features-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  // @media screen and (max-width: 480px) {
  //   text-align: center;
  // }
}

.features__list {
  // display: flex;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // margin: -15px;
      }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
      }
}

.features__item {
  // width: 270px;
  // width: 100%;
  // margin-right: 30px;

      @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }



      &:not(:last-child) {
          @media screen and (max-width: 767px){
            margin-bottom: 30px;
          
         }
      }
    
 }


.features-card__text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.features__card {
  display: flex;
  // width: 270px;
  height: 120px;
  background-color: var(--bg-port-button-secondary);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
