.header {
    border: 1px solid var(--header-border-color);
}
.header__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    outline: 3px solid blue;
}

.header__logo {
    display: inline-block;
    margin-right: 94px;
}

.header__nav {
    display: flex;
    align-items: center;
    
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item+.site-nav__item {
    margin-left: 50px;
}

.header__info {
     display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    // margin-left: auto;
    // align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-info__item+.header-info__item {
    margin-left: 40px;
}

.header-info__item {
    display: flex;
    align-items: center;
}

.header-info__link {
    display: flex;
    align-items: center;
    margin-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-info__item {
    display: flex;
    align-items: center;
}

.header-info__link {
    display: flex;
    align-items: center;
}

.envelope {
    margin-right: 10px;
}

.smartphone {
    margin-right: 10px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.header-info__link:hover,
.header-info__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
    color: var(--accent-color);


    &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 1;
        }


}

.header-span {
    color: var(--logo-text-color);
}
.nav {
    display: block;
}

.header__contacts{
    display: flex;
    margin-left: auto;
    align-items: center;

}



