.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-480@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-480@2x.jpg);
  }

  @media screen and(min-width:481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-768@1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-768@2x.jpg);
    }
  }

  @media screen and(min-width:769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-1200@1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-1200@2x.jpg);
    }
  }

  @include desktop {
    padding: 200px 0;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  color: var(--white-color);
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;

  @include desktop {
    min-width: 700px;
    font-size: 44px;
    line-height: 1.3;
  }
}
