.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 10;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.menu-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.menu-tel {
    color: var(--accent-color);
    font-size: 24px;
    line-height: calc(40 / 34);

    @include mobile {
      font-size: 34px;
      line-height: calc(40 / 34);
    }
  }
}

.menu-socials {
  display: flex;
  gap: 20px;
}

.menu-socials-item {
  position: relative;
}

.menu-socials-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu-socials-link {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @include mobile {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
