:root {
    --primery-text-color: #212121;
    --white-color: #ffffff;
    --logo-text-color: #000000;
    --accent-color: #2196f3;
    --secondary-text-color: #757575;
    --secondary-bg-color: #2f303a;
    --contact-color: rgba(255, 255, 255, 0.6);
    --bg-port-button-secondary: #f5f4fa;
    --bg-team-section-color: #f5f4fa;
    --bg-button-color: #188ce8;
    --header-border-color: #ececec;
    --portfolio-border: #eeeeee;
    --portfolio-work-item: 30px;
    --bg-overlay: rgba(47, 48, 58, 0.4);
    --third-color: #afb1b8;
    --clients-color: #afb1b8;
    --bg-doing-card-overlay: rgba(47, 48, 58, 0.8);
    --backdrop-bg: rgba(0, 0, 0, 0.2);
    --background-portfolio-overlay: rgba(33, 150, 243, 0.9);
    --footer-social-link: rgba(255, 255, 255, 0.1);
    --border-close: rgba(0, 0, 0, 0.1);
    --border-form: rgba(33, 33, 33, 0.2);
    --footer-input-border: rgba(255, 255, 255, 0.3);
}